# Database configuration
DB_USER=postgres
DB_PASSWORD=postgres

# Security configuration
# Сгенерируйте надежный секрет для продакшена (например, openssl rand -hex 64)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
