# Конфигурация базы данных
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/forklift_db?currentSchema=forklift
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password

# Конфигурация безопасности
# Минимум 32 символа для HS256
JWT_SECRET=your_super_secret_key_at_least_32_characters_long

# Docker Compose конкретный
DB_USER=postgres
DB_PASSWORD=your_password
